$color-jaffa:#F09037;
$color-maverick:#F2F0F2;
$color-fedora:#737073;
$color-thunder:#262426;
$color-finn:#0D060B;

$theme-dark:(
    background: $color-finn,
    foreground: $color-fedora,
    accent: $color-jaffa
);

$theme-light:(
    background: $color-maverick,
    foreground: $color-thunder,
    accent: $color-jaffa
);

.theme-dark{
    background-color:map-get($theme-dark, background);
    color:map-get($theme-dark, foreground);
}

.theme-light{
    background-color:map-get($theme-light, background);
    color:map-get($theme-light, foreground);
}