@import url('https://fonts.googleapis.com/css?family=Oswald:300,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:100:300:500');

$font-oswald: 'Oswald';
$font-roboto: 'Roboto';

.title-font{
    font-family: $font-oswald, sans-serif;
}

.regular-font{
     font-family: $font-roboto, sans-serif;
}