include organisms/organisms.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header#header
      +hero('/', imgHero.src, imgHero.alt)
    block content

    script(type='text/javascript', src='/javascripts/index.js')
