doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header#header
      #image
    block content

    script(type='text/javascript', src='/javascripts/index.js')
