mixin feeditem(title, imgSrc,dataUrl)
  div.feeditem.grid(data-url=dataUrl)
    div.col-1-12.feed-icon
      +image(imgSrc, 48)
    div.col-3-4
      span #{title}
    div.col-1-6
      +button('play','play-episode')