include ../organisms/organisms.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    
  body   
    block content
    
    include ../templates/episode.pug
    script(type='text/javascript', src='/javascripts/index.js')