include ../organisms/organisms.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")    
    link(rel="manifest" href="manifest.json")
    
  body   
    block content
    
    include ../templates/episode.pug
    script(type='text/javascript', src='/javascripts/index.js')
